/*********************************
   The list of publication items
 *********************************/
/* The list of items */
.biblist { }

/* The item */
.biblist li { }

/* You can define custom styles for plstyle field here. */


/*************************************
   The box that contain BibTeX code
 *************************************/
div.noshow { display: none; }
div.bibtex {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1.3em;
}
div.bibtex pre { font-family: Georgia, Times, Arial; font-size: 90%; overflow: auto;  width: 100%; padding: 0em 0em;}

.bibitem-buttons {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bibitem-buttons a {
  display: inline-block;
  margin-right: 20px;
  font-size: 12px;
}